@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.st-ae{
    background-color:  #302d2f;
    color: aliceblue;
    font-weight: 600;

}

.st-ae:active{
    border-color: black;
    background-color:  #b0578cac;
}

.st-av{
    background-color:  #B0578D;

}
.st-emotion-cache-k7vsyb > h2{
    background: rgb(176,87,141);
    background: linear-gradient(0deg, rgba(176,87,141,1) 0%, rgba(240,240,240,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: aliceblue;
    font-size: 26px;
    font-weight: 900;

}
.st-emotion-cache-q8sbsg > p{
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
}
